/*
 * Main.css : styling for main page
 *				of erikjohnson.ca
 */

body{
		
}

div.container
	{
		/*height:		600px;*/
		width:		300px;
		width:		1024px;
		display:	block;
		margin:		auto;
		padding:	5px;
	}
div#inner-wrapper{
	margin-top:10px;
}

div.header
{
	height:150px;
	width:100%;
	margin-top:20px;
	/*border-bottom:1px Solid #333;*/
	padding-bottom:10px;
}
div.header h3 {
	float:left;
}
img.main-logo {
	height: 420px;
	width: 420px;
}
div.header img{
		float:left;
}

div.main-content
	{
	/*	height:400px;*/
		padding:20px;
		margin:auto;
		text-align:center;
	}

div.main
	{
		font-size: 18px;
		padding: 15px;
		padding-top:10px;
	}

h2 a
{
	font-size:35px;
	text-decoration:none;
	color: #B4C24B;
}
h2 a:hover
{
	color: #557799;
}
h1, h2, h3, p 
{
	font-family: 'Josefin Sans';
}
#site-logo
	{
		height:200px;
		width:200px;
		margin-top:100px;
		float:left;
	}
#site-logo p	
	{
		padding:20px;
		font-size:0.7em;
		text-transform:uppercase;

	}
#site-logo a {
	outline:none;
}

/* Main links */

.links
{
	height:65px;
}
#nav-links
	{
		height:60px;
		list-style:none;
}
#nav-links li
	{
		float:left;
		font-family: 'Reenie Beanie';
		font-size: 1.26em;
		font-weight: 800;
	}
#nav-links li:hover
	{
		text-decoration:underline;
	}
#nav-links li a
	{
		float:left
		display:block;
		text-decoration:none;	
		color:#111;
	}
ul.contact-main
{
	width:300px;
	font-family: 'Reenie Beanie';
	font-size:25px;
	list-style:none;
	margin-top:-10px;
	margin-left:-30px;
}

div.main-header{
	height:500px;
}
div.seperator{
	height:10px;
}

#slideshow {
    position:relative;
    height: 420px;
    width: 420px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    height: 350px;
    width: 350px;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

img.title_logo{
	
}
#backgrounddefault{
		/*background-image: linear-gradient(top, rgb(255,255,255) 10%, rgb(187,187,250) 49%);
		background-image: -o-linear-gradient(top, rgb(255,255,255) 10%, rgb(187,187,250) 49%);
		background-image: -moz-linear-gradient(top, rgb(255,255,255) 10%, rgb(187,187,250) 49%);
		background-image: -webkit-linear-gradient(top, rgb(255,255,255) 10%, rgb(187,187,250) 49%);
		background-image: -ms-linear-gradient(top, rgb(255,255,255) 10%, rgb(187,187,250) 49%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.1, rgb(255,255,255)),
			color-stop(0.49, rgb(187,187,250))
		);
		background-size:100% 200%;*/

		background-image: url('../images/beachocean.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
}
#backgroundnosidebar{
		background-image: url('../images/beachocean.jpg');
		background-size: 150%;
		background-repeat: no-repeat;
}
