/*
 * Main.css : styling for main page
 *				of erikjohnson.ca
 */

body{
	font: 1em/1.5 "Sabon Next W01 Display","Times New Roman",Times,serif;
	color: #222;	
}

div.container
	{
		/*height:		600px;*/
		width:		300px;
		width:		1024px;
		display:	block;
		margin:		auto;
		padding:	5px;
	}
div#inner-wrapper{
	margin-top:10px;
}

div.header
{
	height:150px;
	width:100%;
	margin-top:20px;
}
div.header h3 {
	float:left;
}
img.main-logo {
	height: 420px;
	width: 420px;
}
div.header img{
		float:left;
}

div.main-content
	{
	/*	height:400px;*/
		padding:20px;
		margin:auto;
		text-align:center;
		margin-top:0px;
	}

div.main
	{
		font-size: 18px;
		padding: 15px;
		padding-top:10px;
	}

h2 a
{
	font-size:35px;
	text-decoration:none;
	color: #B4C24B;
}
h2 a:hover
{
	color: #557799;
}
h1, h2, h3, p 
{
	font-family: 'Josefin Sans';
}
#site-logo
	{
		height:200px;
		width:200px;
		margin-top:100px;
		float:left;
	}
#site-logo p	
	{
		padding:20px;
		font-size:0.7em;
		text-transform:uppercase;

	}
#site-logo a {
	outline:none;
}

/* Main links */

.links
{
	margin-top:10px;
	height:65px;

}
#nav-links
	{
		height:60px;
		list-style:none;
}
#nav-links li
	{
		float:left;
		font-family: "Avenir LT W01 85 Heavy";
		/*font-family: 'Reenie Beanie';*/
		font-size: 1em;
		letter-spacing: 0.05em;
		font-weight: 400;
		text-transform: center;
		text-transform:uppercase;
	}
#nav-links li a:hover
	{
		color: #999;
	}
#nav-links li a
	{
		color: #272423;
		display: block;
		float:left;
		text-decoration:none;	
	}

ul.contact-main
{
	width:300px;
	font-size:25px;
	list-style:none;
	margin-top:-10px;
	margin-left:-30px;
}

div.main-header{
	height:500px;
}
div.seperator{
	height:10px;
}

#slideshow {
    position:relative;
    height: 420px;
    width: 420px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    height: 350px;
    width: 350px;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}
.social-icon{
	height:40px;
	width:40px;
	float:left;
	margin-top:3px;
	margin-right:10px;
}

#social{
	width:250px;
	float:right;
	margin-right:150px;	
}

#us_widget{
	float:left;
}
