/*
 * Main.css : styling for main page
 *				of erikjohnson.ca
 */

body{
/*	background-image:url('../images/bg-texture.png'); */

}

div.container
	{
		/*height:		600px;*/
		width:		300px;
		width:		1024px;
		display:	block;
		margin:		auto;
		padding:	5px;
	}
div#inner-wrapper{
	margin-top:10px;
}

div.header
{
	height:100px;
	width:100%;
	margin-top:20px;
	/*border-bottom:1px Solid #333;
	*/padding-bottom:10px;
}
div.header h3 {
	float:left;
}
img.main-logo {
	height: 420px;
	width: 420px;
}
div.header img{
		float:left;
}

div.main-content
	{
	/*	height:400px;*/
		padding:20px;
		margin:auto;
	}

div.main
	{
		font-size: 18px;
		padding: 15px;
		padding-top:10px;
	}

h2 a
{
	font-size:35px;
	text-decoration:none;
	color: #B4C24B;
}
h2 a:hover
{
	color: #557799;
}
h1, h2, h3, p 
{
	font-family: 'Josefin Sans';
}
#site-logo
	{
		height:200px;
		width:200px;
		margin-top:100px;
		float:left;
	}
#site-logo p	
	{
		padding:20px;
		font-size:0.7em;
		text-transform:uppercase;

	}
#site-logo a {
	outline:none;
}

/* Main links */

.links
{
	height:65px;
}
#nav-links
	{
		height:60px;
		list-style:none;
}
#nav-links li
	{
		float:left;
		font-family: 'Reenie Beanie';
		padding:4px;
		padding-right:6px;
		border-right:1px solid #666;
		font-size:2em;
	}
#nav-links li a
	{
		float:left
		display:block;
		text-decoration:none;	
		color:#111;
	}
ul.contact-main
{
	width:300px;
	font-family: 'Reenie Beanie';
	font-size:25px;
	list-style:none;
	margin-top:-10px;
	margin-left:-30px;
}

div.main-header{
	height:500px;
}
div.seperator{
	height:10px;
}

#slideshow {
    position:relative;
    height: 420px;
    width: 420px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    height: 420px;
    width: 420px;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

img.title_logo{
	
}
